body
    {background-image:url(https://images.openai.com/static-rsc-4/HiPkTo_YuuK6AYsxYQojN_wsn3QzHIRcUH5VK2-_9e8six79iRYQSm8_cXL-w9jGOObaQ_tYW5V9OVXdEgkTjYsOmVIVddF_NtkDpgJ_y058t9c0BybvO71nQkzsTHdmG0Y9qlf1fxFbLrBR9d-5klREoud9hkiocWuUXgn2bCqsBSSrTRUqarUUrJhexfj1?purpose=fullsize);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;}