body
    {background-image:url("pexels-ratul-chakraborty-36728921-7191012.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;}
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.hero-box {
    background: rgba(255, 255, 255, 0.25); /* Transparent white */
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 600px;

    backdrop-filter: blur(10px);      /* Glass blur effect */
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}

.hero-box h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-box p {
    color: white;
    font-size: 22px;
}
h1 {
    text-align: center;
    letter-spacing: 0px;
}
h1 {
    font-family: Broadway, sans-serif;
    font-size: 70px;
    letter-spacing: 0px;
    backdrop-filter: blur(10px);
}
h3 {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 30px;
}
h4 {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 20px;
}
.hero-box {
    position: relative;
    width: 550px;
    margin: 30px auto;
}
h3 {
    font-style: bold;
    font-family: century gothic, sans-serif;
    font-size: 30px;
}
h4 {
    font-family: century gothic, sans-serif;
    font-size: 20px;
}
h2 {
    text-align: left;
    font-family: Broadway, sans-serif;
    font-size: 60px;
    backdrop-filter: blur(10px);
}
h8 {
    font-weight: bold;
    font-family: century gothic, sans-serif;
    font-size: 30px;
}
h9 {
    font-family: century gothic, sans-serif;
    font-size: 20px;
}
h10 {
    font-weight: bold;
    font-family: century gothic, sans-serif;
    font-size: 30px;
}
h11 {
    font-family: century gothic, sans-serif;
    font-size: 20px;
}
h12 {
    font-weight: bold;
    font-family: century gothic, sans-serif;
    font-size: 30px;
}
h13 {
    font-family: century gothic, sans-serif;
    font-size: 20px;
}
.hero-box {
    position: relative;
    width: 550px;
    margin: 30px auto;
}
.hero-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h14 {
    font-family: century gothic, sans-serif;
    font-size: 30px;
}
h15 {
    font-family: century gothic, sans-serif;
    font-size: 20px;
}
h16 {
    backdrop-filter: blur(10px);
    font-family: Broadway, sans-serif;
    font-size: 60px;
}
ol {
    backdrop-filter: blur(10px);
    text-align: left;
    font-family: century gothic, sans-serif;
    font-size: 40px;
}